<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

        <title>Ctrl O management system</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
            integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/css/local.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="container-fluid">
            [% UNLESS page == "login" %]
                <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">Home</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="/upload">Upload</a></li>
                                <li><a href="/myip">My IP address</a></li>
                                [% IF user.has_permission('doc') %]
                                    <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documents <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li [% IF page=="doc" %]class="active"[% END %]><a href="/doc">Documents</a></li>
                                        <li [% IF page=="docread" %]class="active"[% END %]><a href="/docread">Required reading</a></li>
                                        [% IF user.has_permission('user_admin') %]
                                            <li [% IF page=="docreadstatus" %]class="active"[% END %]><a href="/docreadstatus">Required reading status</a></li>
                                        [% END %]
                                        <li [% IF page=="doc/image" %]class="active"[% END %]><a href="/doc/image/">Images</a></li>
                                    </ul>
                                    </li>
                                [% END %]
                                [% IF user %]
                                    <li><a href="/issue">Issues</a></li>
                                [% END %]
                                [% IF user.has_permission('config') OR user.has_permission('config_write') %]
                                    <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Config <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li [% IF page=="config/server" %]class="active"[% END %]><a href="/config/server">Servers</a></li>
                                        <li [% IF page=="config/site" %]class="active"[% END %]><a href="/config/site/">Site</a></li>
                                        <li [% IF page=="config/uad" %]class="active"[% END %]><a href="/config/uad">UADs</a></li>
                                        <li [% IF page=="config/cert" %]class="active"[% END %]><a href="/config/cert">Certificates</a></li>
                                        <li [% IF page=="config/pwd" %]class="active"[% END %]><a href="/config/pwd">Passwords</a></li>
                                        <li [% IF page=="config/customer" %]class="active"[% END %]><a href="/config/customer">Customers</a></li>
                                        [% IF user.has_permission('user_admin') %]
                                            <li [% IF page=="user" %]class="active"[% END %]><a href="/users">Manage users</a></li>
                                        [% END %]
                                    </ul>
                                    </li>
                                [% END %]
                            </ul>
                            <ul class="nav navbar-nav navbar-right">

                                [% IF user %]
                                    <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">[% user.firstname %]<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/logout">Logout</a></li>
                                    </ul>
                                    </li>
                                [% ELSE %]
                                    <li><a href="/login">Login</a></li>
                                [% END %]
                            </ul>

                        </div><!--/.nav-collapse -->
                </div>

                    [% FOR message IN session.messages %]
                        <div class="alert alert-[% message.bootstrap_color %]">
                            [% IF message.inClass("html") %]
                                [% message.toString %]
                            [% ELSE %]
                                [% message.toString | html_entity %]
                            [% END %]
                        </div>
                    [% END %]


            [% END %]

            [% content %]

        </div><!-- /.container -->


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>
    </body>
</html>

