<h2>[% doc.title | html %] <small>Send document via email link</small></h2>

<form method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email">
    </div>
    <button type="submit" name="send" value="send" class="btn btn-default">Send</button>
</form>
