[% IF issue %]
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <input type="hidden" name="csrf_token" value="[% csrf_token %]">
                [% IF issue.related_issue %]
                    <div class="alert alert-info">
                        <p>This issue is related to issue <a href="/issue/[% issue.related_issue.id %]">[% issue.related_issue.id %]</a>
                    </div>
                [% END %]
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" value="[% issue.title | html_entity %]">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="form-control" rows="6">[% issue.description | html_entity %]</textarea>
                </div>
                <div class="form-group">
                    <label for="project">Project</label>
                    <select class="form-control" id="project" name="project">
                        [% FOREACH project IN projects %]
                            <option value="[% project.id %]" [% IF issue.project == project %]selected[% END %]>[% project.name | html_entity %]</option>
                        [% END %]
                    </select>
                </div>
                <div class="form-group">
                    <label for="priority">Priority</label>
                    <select class="form-control" id="priority" name="priority" [% readonly %]>
                        [% UNLESS issue.priority %]
                            <option value=""></option>
                        [% END %]
                        [% FOREACH priority IN priorities %]
                            <option value="[% priority.id %]" [% IF issue.priority == priority %]selected[% END %]>[% priority.name | html_entity %]</option>
                        [% END %]
                    </select>
                </div>
                [% IF NOT issue.user_can_write(user) %][% readonly = "readonly" %][% END %]
                <div class="form-group">
                    <label for="type">Type</label>
                    <select class="form-control issuetype" id="type" name="type">
                        [% UNLESS issue.type %]
                            <option value=""></option>
                        [% END %]
                        [% FOREACH group IN types %]
                            <optgroup label="[% group.name | html %]">
                                [% FOREACH type IN group.values %]
                                    <option value="[% type.id %]" data-is-breach="[% type.is_breach %]" data-is-general="[% type.is_general %]"
                                        data-is-objective="[% type.is_objective %]" data-is-nc="[% type.is_nc %]"
                                        [% IF issue.type == type %]selected[% END %]>[% type.name | html_entity %]
                                    </option>
                                [% END %]
                            </optgroup>
                        [% END %]
                    </select>
                </div>
                <div class="form-group rca">
                    <label for="rca">Root-cause analysis</label>
                    <textarea class="form-control" id="rca" name="rca" rows="5">[% issue.rca | html %]</textarea>
                </div>
                <div class="form-group rca">
                    <label for="corrective_action">Corrective action to be taken</label>
                    <textarea class="form-control" id="corrective_action" name="corrective_action" rows="5">[% issue.corrective_action | html %]</textarea>
                </div>
                <div class="form-group objective">
                    <label for="target_date">Target date</label>
                    <input type="text" class="form-control datepicker" id="target_date" name="target_date" value="[% issue.target_date.ymd | html_entity %]">
                </div>
                <div class="form-group objective">
                    <label for="resources_required">Resources required</label>
                    <textarea class="form-control" id="resources_required" name="resources_required" rows="5">[% issue.resources_required | html %]</textarea>
                </div>
                <div class="form-group objective">
                    <label for="success_description">What does success look like?</label>
                    <textarea class="form-control" id="success_description" name="success_description" rows="5">[% issue.success_description | html %]</textarea>
                </div>
                <div class="form-group">
                    <label>Other related issues</label>
                    [% IF issue.id %]
                        <button type="button" class="btn btn-default" style="display:block" data-toggle="modal" data-target="#modal_preventative">Add related issue</button>
                        <div class="related-issues">
                            <ul>
                                [% FOREACH related IN issue.related_issues %]
                                <li><a href="/issue/[% related.id %]">[% related.id %]: [% related.title | html %]</a></li>
                                [% END %]
                            </ul>
                        </div>
                    [% ELSE %]
                        <p>Please save this issue first before adding related preventative actions</p>
                    [% END %]
                </div>
                <div class="form-group security_considerations">
                    <label for="security_considerations">Security considerations</label>
                    <textarea class="form-control" id="security_considerations" name="security_considerations">[% issue.security_considerations | html_entity %]</textarea>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" id="status" name="status" [% IF NOT issue.id %][% readonly %][% END %]>
                        [% IF !issue.id AND !issue.status %]
                            <option value="" selected></option>
                        [% END %]
                        [% issue_selected = issue.status.id || 1 %]
                        [% FOREACH status IN statuses %]
                            <option value="[% status.id %]"
                                [% IF issue_selected == status.id %]selected[% END %]
                                [% IF issue.id AND status.id != 1 AND status.id != 3 AND readonly %]disabled[% END %]
                            >[% status.name | html_entity %]</option>
                        [% END %]
                    </select>
                </div>
                <div class="form-group">
                    <label>Tags</label>
                    [% FOREACH tag IN tags %]
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="tag" value="[% tag.id %]"
                                    [% IF issue.has_tag(tag.id) %]checked[% END %]>[% tag.name | html_entity %]
                            </label>
                        </div>
                    [% END %]
                </div>
                <div class="form-group">
                    <label for="status">Author</label>
                    <select class="form-control" id="author" name="author" [% readonly %]>
                        [% UNLESS issue.author %]
                            <option value=""></option>
                        [% END %]
                        [% IF issue.author.deleted %]
                            <option value="[% issue.author.id %]" selected>[% issue.author | html_entity %]</option>
                        [% END %]
                        [% FOREACH u IN users %]
                            <option value="[% u.id %]" [% IF issue.author == u OR (!issue.id AND user.id == u.id) %]selected[% END %]>[% u | html_entity %]</option>
                        [% END %]
                    </select>
                </div>
                <div class="form-group">
                    <label for="status">Owner</label>
                    <select class="form-control" id="owner" name="owner" [% readonly %]>
                        [% UNLESS issue.owner %]
                            <option value=""></option>
                        [% END %]
                        [% IF issue.owner.deleted %]
                            <option value="[% issue.owner.id %]" selected>[% issue.owner | html_entity %]</option>
                        [% END %]
                        [% FOREACH u IN users %]
                            <option value="[% u.id %]" [% IF issue.owner == u OR (!issue.id AND user.id == u.id) %]selected[% END %]>[% u | html_entity %]</option>
                        [% END %]
                    </select>
                </div>
                <div class="form-group">
                    <label for="status">Approver</label>
                    <select class="form-control" id="approver" name="approver" [% readonly %]>
                        [% UNLESS issue.approver %]
                            <option value=""></option>
                        [% END %]
                        [% IF issue.approver.deleted %]
                            <option value="[% issue.approver.id %]" selected>[% issue.approver | html_entity %]</option>
                        [% END %]
                        [% FOREACH u IN users %]
                            <option value="[% u.id %]" [% IF issue.approver == u %]selected[% END %]>[% u | html_entity %]</option>
                        [% END %]
                    </select>
                </div>
                [% IF issue.user_can_write(user) %]
                    <button type="submit" name="save" value="save" class="btn btn-default">Save</button>
                [% END %]
            </form>
        </div>
        [% IF issue.id %]
            <div class="col-md-6">
                <div class="form-group">
                    <h3>Activity</h3>
                    [% FOR item IN issue.activity %]
                    <div class="well well-sm">
                        [% item.as_html %]
                    </div>
                    [% END %]
                </div>
                <form method="post">
                    <input type="hidden" name="csrf_token" value="[% csrf_token %]">
                    <div class="form-group">
                        <a href="" data-toggle="modal" data-target="#modal_attach" class="btn btn-default">Attach file...</a>
                    </div>
                    <div class="form-group">
                        <textarea name="comment" id="comment" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        [% IF issue.id %]
                            <button type="submit" name="comment_add" value="submit" class="btn btn-default">Add comment</button>
                        [% END %]
                        [% IF issue.id AND issue.user_can_write(user) %]
                            <button type="submit" name="approve" value="submit" class="btn btn-default">Approve</button>
                        [% END %]
                    </div>
                </form>
            </div>
        [% END %]
    <div>
[% ELSE %]
    <p>
        [% IF user.has_permission('issue_write') OR user.has_permission('issue_write_all') OR user.has_permission('issue_write_project') %]
            <a href="/issue/0" class="btn btn-default">New issue</a>
        [% END %]
        <a href="" data-toggle="modal" data-target="#modal_filter" class="btn btn-default">Filtering...</a>
        <a href="/issue/stats/" class="btn btn-default">Statistics</a>
    </p>
    <table class="table table-striped">
        <tr>
            <th><a href="?sort=id">ID</a></th>
            <th><a href="?sort=title">Title</a></th>
            <th>Description</th>
            <th>Owner</th>
            <th><a href="?sort=opened">Opened</a></th>
            <th>Project</th>
            <th>Type</th>
            <th>Status</th>
            <th><a href="?sort=priority">Priority</a></th>
        </tr>
        [% FOREACH issue IN issues %]
            <tr>
                <td>[% issue.id %]</td>
                <td><a href="/issue/[% issue.id %]">[% issue.title | html_entity %]</a></td>
                <td>[% issue.description | html_entity %]</td>
                <td style="white-space: nowrap">[% issue.owner | html_entity %]</td>
                <td>[% issue.opened | html_entity %]</td>
                <td>[% issue.project | html_entity %]</td>
                <td>[% issue.type | html_entity %]</td>
                <td>[% issue.status | html_entity %]</td>
                <td>[% issue.priority | html_entity %]</td>
            </tr>
        [% END %]
    </table>
[% END %]

<div class="modal fade" id="modal_filter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" method="post">
            <input type="hidden" name="csrf_token" value="[% csrf_token %]">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_permissions-title">Filtering</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="filtering_security">Security</label>
                    <select class="form-control" id="filtering_security" name="filtering_security">
                        <option value="" [% IF filtering.security == "" %]selected[% END %]>&lt;Ignore&gt;</option>
                        <option value="all" [% IF filtering.security == "all" %]selected[% END %]>All security-related issues</option>
                        <option value="security_incident" [% IF filtering.security == "security_incident" %]selected[% END %]>Security incidents</option>
                        <option value="corrective_action" [% IF filtering.security == "corrective_action" %]selected[% END %]>Corrective Actions</option>
                        <option value="vulnerability" [% IF filtering.security == "vulnerability" %]selected[% END %]>Preventative Actions</option>
                        <option value="scan" [% IF filtering.security == "scan" %]selected[% END %]>Vulnerability scans</option>
                        <option value="patch" [% IF filtering.security == "patch" %]selected[% END %]>Critical Patches</option>
                        <option value="code_review" [% IF filtering.security == "code_review" %]selected[% END %]>Code Reviews</option>
                        <option value="pentest" [% IF filtering.security == "pentest" %]selected[% END %]>Penetration Testing</option>
                        <option value="capacity" [% IF filtering.security == "capacity" %]selected[% END %]>Capacity Management</option>
                        <option value="audit" [% IF filtering.security == "audit" %]selected[% END %]>Audit Actions</option>
                        <option value="objective" [% IF filtering.security == "objective" %]selected[% END %]>Objectives</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="filtering_project">Project</label>
                    <select class="form-control" id="filtering_project" name="filtering_project">
                        <option value="" [% UNLESS filtering.security %]selected[% END %]>&lt;Ignore&gt;</option>
                        [% FOREACH project IN projects %]
                            <option value="[% project.id %]" [% IF filtering.project == project.id %]selected[% END %]>[% project %]</option>
                        [% END %]
                    </select>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    [% FOREACH status IN statuses %]
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="filtering_status" value="[% status.id %]"
                                    [% IF filtering.status.grep(status.id).size %]checked[% END %]>[% status | html_entity %]
                            </label>
                        </div>
                    [% END %]
                </div>
                <div class="form-group">
                    <label for="filtering_type">Type</label>
                    <select class="form-control" id="filtering_type" name="filtering_type">
                        <option value="" [% UNLESS filtering.type %]selected[% END %]>&lt;Ignore&gt;</option>
                        [% FOREACH group IN types %]
                            <optgroup label="[% group.name | html %]">
                                [% FOREACH type IN group.values %]
                                    <option value="[% type.id %]" [% IF filtering.type == type.id %]selected[% END %]>[% type.name | html_entity %]</option>
                                [% END %]
                            </optgroup>
                        [% END %]
                    </select>
                </div>
                <div class="form-group">
                    <label for="filtering_owner">Owner</label>
                    <select class="form-control" id="filtering_owner" name="filtering_owner">
                        <option value="" [% UNLESS filtering.owner %]selected[% END %]>&lt;Ignore&gt;</option>
                        [% FOREACH user IN users %]
                            <option value="[% user.id %]" [% IF filtering.owner == user.id %]selected[% END %]>[% user | html_entity %]</option>
                        [% END %]
                    </select>
                </div>
                <div class="form-group">
                    <label>Tags</label>
                    [% FOREACH tag IN tags %]
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="filtering_tag" value="[% tag.id %]"
                                    [% IF filtering.tag.grep(tag.id).size %]checked[% END %]>[% tag.name | html_entity %]
                            </label>
                        </div>
                    [% END %]
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" name="submit_filtering" value="submit" class="btn btn-primary">Update</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="modal_attach" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="[% csrf_token %]">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add attachment</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="newattach">Attach new file</label>
                    <input type="file" id="newattach" name="newattach"></input>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" name="attach" value="attach" class="btn btn-primary">Attach</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="modal_preventative" tabindex="-1" role="dialog" aria-labelledby="label_preventative" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" method="post" id="form_preventative" action="/issue/0?ajax=1">
                <input type="hidden" name="csrf_token" value="[% csrf_token %]">
                <input type="hidden" name="save" value="1">
                <input type="hidden" name="related_issue" value="[% issue.id %]">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="label_preventative">Add related issue</h4>
                </div>
                <div class="modal-body">
                    <p>Use this form to create an issue that is related to this issue that may prevent this incident happening in the future</p>
                    <div class="form-group">
                        <label for="preventative_title">Title</label>
                        <input type="text" class="form-control" id="preventative_title" name="title">
                    </div>
                    <div class="form-group">
                        <label for="preventative_description">Description</label>
                        <input type="text" class="form-control" id="preventative_description" name="description">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <!-- This button not submitted by ajax request -->
                    <button type="submit" name="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

